/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
    font-family: 'Jura', sans-serif;
        background: url()repeat repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h1 {
    color: #fff;
    text-align: center;
    padding: 1em 0 0 0;
    font-size: 3em;
    font-weight: 700;
}
/*-- main --*/
.main {
    margin: 4em auto;
    width:33%;
}

/*--signin-form--*/

.signin-form {
    background: #eee; /*--rgba(0, 0, 0, 0.5);--*/
    padding: 2em 2em;
    text-align: center;
}
.signin-form h3 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1.5em;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    border-radius: 50%;
}
.login-form {
    margin: 0;
}
.signin-form input[type="text"], .signin-form input[type="password"], .signin-form input[type="email"] {
    width: 92%;
    padding: 1em 1em 1em 1em;
    font-size: 1.1em;
    margin: 2em 0;
    outline: none;
    color: #000000;
    border: none;
    border: 2px solid #040404;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 5px;
    font-family:serif;
}

.signin-form input[type="text"], .signin-form input[type="email"] {
    background: none;
    display: block;
}

.signin-form input[type="password"], .signin-form input[type="email"] {
     background: none;
    display: block;
}
::-webkit-input-placeholder{
	color:#000000 !important;
	font-family:sens-serif;
}
.signin-form input[type="submit"] {
    padding: 0.7em 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #16293a;
    border-radius: 5px;
}
.signin-form input[type="submit"]:hover {
    color: #fff;
    background: #25333e;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #fff;
    letter-spacing: 1px;
}
/*--//signin-form--*/
.social-icons {
    margin-top: 2em;
}
.social-icons ul li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
	color:#fff;
}
.social-icons ul li a:hover{
    opacity:0.5;
}
.header-social {
    text-align: center;
    margin-bottom: 2em;
}
.tp {
    margin: 3.7em 0 0;
}
h5 {
    border-left: 1px dotted #7467b9;
    padding: 0.5em;
}
.header-social a.face{
  background:url(../images/fac.png)no-repeat 12px 9px #3B62A3;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2em;
  width: 30%;
  text-align: left;
  margin-right: 0%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  float:left;
  border-radius: 14px 0px 0px 14px;
}
.header-social a.face:hover{
	 background:url(../images/fac.png)no-repeat 12px 9px #0E387C;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*-- w3layouts --*/
.header-social a.goog {
  background:url(../images/google.png)no-repeat 12px 9px #D64639;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2.5em;
  width: 24%;
  text-align: left;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  cursor: pointer;
  outline: none;
  float:left;
  border-radius: 0px 14px 14px 0px;
}
.header-social a.goog:hover {
  background: url(../images/google.png)no-repeat 12px 9px #ff4b3b;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.header-social h4 {
  font-size: 17px;
  color: #6A67CE;
  text-align: center;
  margin: 20px 0px;
  font-family: 'Roboto Condensed', sans-serif;
}
.header-social h4 a{
	color:#6A67CE;
}
.header-social h4 a:hover{
	color:#FFB900;
}
/*--copyright--*/
.copyright {
    margin: 2em;
    text-align: center;
}
.copyright p {
    font-size: 1em;
    color: #fff;
	line-height:1.8em;
}
.copyright p a{
    color: #fff;
}
.copyright p a:hover{
    color:#56c8dc;
}
/*--//copyright--*/
/*-- agileits --*/
/*---- responsive-design -----*/
@media(max-width:1280px){
h1 {
    font-size: 2.5em;
}
}
@media(max-width:1080px){
.main {
    width: 44%;
	margin: 2em auto;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 90%;
}
}
@media(max-width:1024px){
.main {
    width: 44%;
}
.signin-form {
    padding: 3em 2.5em;
}
}
@media(max-width:991px){
.main {
    width: 85%;
}
}
@media(max-width:900px){
.main {
    width: 93%;
}
}
@media(max-width:800px){
.main {
    width: 51%;
}

.signin-form p a {
    line-height: 1.8em;
}
}
@media(max-width:768px){
.main {
    width: 53%;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 90%;
}
}
@media(max-width:736px){
.main {
    width: 55%;
}
}
/*-- w3layouts --*/
@media(max-width:667px){
.main {
    width: 61%;
}
}
@media(max-width:640px){
.main {
    width: 64%;
}
}
@media(max-width:600px){
.main {
    width: 68%;
}
}
@media(max-width:568px){
.main {
    width: 72%;
}
}
@media(max-width:480px){
.main {
    width: 78%;
}
.header-social a.face {
    width: 27%;
}
.header-social a.goog {
    width: 21%;
}
.w3 {
    margin-bottom: 0%;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 91%;
}
h1 {
    font-size: 2.2em;
}
.profile {
    margin-top: 2em;
}
.signin-form {
    padding: 2em 2em;
}
.copyright p {
    font-size: 0.9em;
}
/*-- agileits --*/
}
@media(max-width:414px){
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 85%;
}
.header-social a.face {
    width: 25%;
}
.header-social a.goog {
    width: 19%;
}
.tp {
    margin: 1.7em 0 0;
}
.header-social {
    margin-bottom: 1em;
}
.signin-form h3 {
    margin-bottom: 1em;
}
.main {
    width: 80%;
}
}
@media(max-width:384px){
h1 {
    font-size: 2em;
}
.header-social a.face {
    width: 22%;
}
.header-social a.goog {
    width: 17%;
}
.main {
    width: 87%;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 85%;
}
}
@media(max-width:375px){
.main {
    width: 88%;
}
.header-social a.goog {
    width: 15%;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 85%;
}
}
@media(max-width:320px){
h1 {
    font-size: 1.6em;
}
.signin-form {
    padding: 1em 1em;
}
.main {
    width: 90%;
    margin: 1.5em auto;
}
.signin-form h3 {
    font-size: 1.5em;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width:86%;
	font-size:1em;
	margin:1.3em 0;
}
.signin-form input[type="submit"] {
    padding: 0.7em 0;
    font-size: 0.9em;
}
.signin-form p a {
    font-size: 0.9em;
}
.signin-form p a {
    line-height: 1.5em;
}
.copyright {
    margin: 1em;
}
.social-icons ul li {
    margin: 0 2px;
}
}
/*--//responsive-design---*/
